name: tagpr and release
on:
  push:
    branches: ["main"]

permissions:
  pull-requests: write
  packages: write
  contents: write
  actions: write
  issues: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.ref }}
      - uses: Songmu/tagpr@78a926ba835e34721053309043aee696ba9c70b1 # v1.15.0
        id: tagpr
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: tag for sub packages
        if: ${{ steps.tagpr.outputs.tag != '' }}
        run: |
          echo "Tagging sub packages with tag: ${{ steps.tagpr.outputs.tag }}"
          git tag prommetrics/${{ steps.tagpr.outputs.tag }}
          git tag otelmetrics/${{ steps.tagpr.outputs.tag }}
          git push --tags origin
